<div>
  <form (submit)="addItem($event)">
    <input class="textfield" name="newTodo" [(ngModel)]="newTodo">
    <button type="submit" [disabled]="newTodo === ''">Add</button>
  </form>

  <ul>
    <li *ngFor="let todo of todos">
      <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
      <span [ngClass]="{'checked': todo.completed}">{{ todo.item }}</span>
    </li>
  </ul>

  <button (click)="deleteSelected()" [disabled]="todos.length == 0">Delete Selected</button>
</div>